{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Workforce System</title>
    <link rel="stylesheet" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% if request.COOKIES.workforceTheme == 'light' %}{% static 'themes/light/login_light.css' %}{% else %}{% static 'themes/dark/login.css' %}{% endif %}" data-theme-link data-dark-theme="{% static 'themes/dark/login.css' %}" data-light-theme="{% static 'themes/light/login_light.css' %}">
    {% include "components/theme_bootstrap.html" %}
</head>
<body>

<div class="login-container">
    <h2>Workforce System</h2>

    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <input type="text" name="fake_username" autocomplete="off" tabindex="-1" aria-hidden="true" hidden>
        <input type="password" name="fake_password" autocomplete="current-password" tabindex="-1" aria-hidden="true" hidden>

        <input type="text" name="username" placeholder="Username" autocomplete="username" autocapitalize="none" spellcheck="false" required>
        <input type="password" name="password" placeholder="Password" autocomplete="new-password" readonly onfocus="this.removeAttribute('readonly')" required>

        {% if error %}
        <div class="error-alert">
            {{ error }}
        </div>
        {% endif %}

        <button type="submit">Login</button>
    </form>

    <p class="help-message">
        Not an employee? <span>Please contact HR</span>
    </p>
</div>

<script src="{% static 'theme_switcher.js' %}"></script>
<script src="{% static 'password_toggle.js' %}"></script>
</body>
</html>
