{% load static %}
<link
    rel="stylesheet"
    href="{% if request.COOKIES.workforceTheme == 'light' %}{% static 'themes/light/info_modal_light.css' %}{% else %}{% static 'themes/dark/info_modal.css' %}{% endif %}"
    data-theme-link
    data-dark-theme="{% static 'themes/dark/info_modal.css' %}"
    data-light-theme="{% static 'themes/light/info_modal_light.css' %}"
>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div id="infoModal" class="infoModal hidden">
    <div class="info-modal-overlay"></div>

    <div class="info-modal-box" id="infoModalBox">
        <h3 id="infoModalTitle">Info</h3>
        <p id="infoModalMessage">Information</p>

        <div class="info-modal-actions">
            <button id="infoModalCloseBtn" class="infoBtn close">Close</button>
        </div>
    </div>
</div>
